= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :second_name
    %br/
    = f.text_field :second_name
  .field
    = f.label :patronymic
    %br/
    = f.text_field :patronymic
  .field
    = f.label :b_date
    %br/
    = f.date_select :b_date
  .field
    = f.label :m_phone
    %br/
    = f.text_field :m_phone
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :gender
    %br/
    = f.text_field :gender
  .field
    = f.label :role
    %br/
    = f.number_field :role
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .actions
    = f.submit
