= form_for(@order) do |f|
  - if @order.errors.any?
    #error_explanation
      %h2
        = pluralize(@order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message
  .form-horizontal
    .form-group
      %label.col-sm-2.control-label Адрес
      .col-sm-10
        = f.collection_select :address_id, @current_user.addresses, :id, :locality, class: 'chosen-select'
  .form-horizontal
    .form-group
      %label.col-sm-2.control-label Тип Доставки
      .col-sm-10
        = f.select :delivery_type, Order::DELIVERY_TYPE.each_with_index { |v,i| [ v, i ] }, {}, {class: 'form-control'}
  .form-horizontal
    .form-group
      %label.col-sm-2.control-label Дата Доставки
      .col-sm-10
        = f.date_select :dalivery_date, {}, {class: 'form-control'}
  .form-horizontal
    .form-group
      %label.col-sm-2.control-label Тип Оплаты
      .col-sm-10
        = f.select :pay_type, Order::PAY_TYPE.each_with_index { |v,i| [ v, i ] }, {}, {class: 'form-control'}
  -if session[:user_id].present?
    -if @current_user.try(:admin?)
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            %label
              = f.check_box :active, {checked: false}
              Аннулировать?
  .form-group
    .pull-right
      = f.submit 'Оформить!', class: 'btn btn-success'

