<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @order.cart %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Delivery type:</strong>
  <%= @order.delivery_type %>
</p>

<p>
  <strong>Dalivery date:</strong>
  <%= @order.dalivery_date %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong>Active:</strong>
  <%= @order.active %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
