= form_for(@address) do |f|
  - if @address.errors.any?
    #error_explanation
      %h2
        = pluralize(@address.errors.count, "error")
        prohibited this address from being saved:
      %ul
        - @address.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :user_id
    %br/
    = f.text_field :user_id
  .field
    = f.label :country
    %br/
    = f.text_field :country
  .field
    = f.label :locality
    %br/
    = f.text_field :locality
  .field
    = f.label :index
    %br/
    = f.text_field :index
  .field
    = f.label :addres_line
    %br/
    = f.text_area :addres_line
  -if session[:user_id].present?
    -if @current_user.try(:admin?)
      .field
        = f.label :is_delete
        %br/
        = f.check_box :is_delete
      .field
        = f.label :main
        %br/
        = f.check_box :main
  .actions
    = f.submit
