<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @address.user %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @address.locality %>
</p>

<p>
  <strong>Index:</strong>
  <%= @address.index %>
</p>

<p>
  <strong>Addres line:</strong>
  <%= @address.addres_line %>
</p>

<p>
  <strong>Delete:</strong>
  <%= @address.delete %>
</p>

<p>
  <strong>Main:</strong>
  <%= @address.main %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
