#products
  .row
    - strips = 3 
    - strips.times do |s| 
      %div{class: "col-xs-#{12 / strips}"}
        - if s.zero?
          = link_to (fa_icon 'plus'), new_product_path(category_id: @category), type: 'button', class: 'btn btn-danger btn-lg btn-block add-btn', remote: true
          %br
        - prod = s 
        - while @products.present? && (product = @products[prod]).present?
          = link_to product_path(product) do
            .thumbnail{ id: "product-#{product.id}"}
              = image_tag product.image.url(:small) 
              .caption
                %h3.nounderline
                  = product.name
                  %small= " – #{product.price}$"
                %p
                  = product.description
                  - if product.amount > 4
                    = link_to (fa_icon 'shopping-cart'), 'запили меня', class: 'btn btn-primary btn-xs pull-right'
                  - elsif product.amount > 0
                    = link_to 'запили меня', class: 'btn btn-warning btn-xs pull-right' do
                      = fa_icon 'shopping-cart'
                      %span.badge= product.amount
                  - else
                    = link_to 'Нет в наличии', 'запили меня', class: 'btn btn-primary btn-xs pull-right', disabled: true
          %br
          - prod += strips

    - if @products.size.zero?
      %h1 Здесь ничего нет :D