#products
  - if @current_user.admin?
    .row
      .btn-group.pull-right{role: 'group'}
        = link_to new_product_path(category_id: @category), data: {confirm: "Удалить Категорию?"}, type: 'button', class: 'btn btn-danger add-btn', remote: true do
          = fa_icon 'trash-o'

        = link_to new_product_path(category_id: @category), type: 'button', class: 'btn btn-danger add-btn', remote: true do
          = fa_icon 'plus'
    %br

  .row
    - strips = 3 
    - strips.times do |s| 
      %div{class: "col-xs-#{12 / strips}"}
        - prod = s 
        - while @products.present? && (product = @products[prod]).present?
          = link_to product_path(product) do
            .thumbnail{ id: "product-#{product.id}"}
              = image_tag product.image.url(:medium)
              .caption
                %h3.nounderline
                  = product.name
                  %small= " – #{product.price}$"
                .p= product.description.presence
                = render 'control_btns', product: product
          %br
          - prod += strips

    - if @products.size.zero?
      %h1.text-center.light-gray
        = fa_icon 'diamond'
        Нет товаров
