%p#notice= notice
%p
  %strong Cart:
  = @line_item.cart
%p
  %strong Product:
  = @line_item.product
%p
  %strong Quantity:
  = @line_item.quantity
%p
  %strong Price:
  = @line_item.price
= link_to 'Edit', edit_line_item_path(@line_item)
|
= link_to 'Back', line_items_path
